<?xml version="1.0" encoding="utf-8"?>
<policy target="REJECT">
  <short>Sandbox to Host</short>
  <ingress-zone name="{{ sandboxing_firewalld_default_zone }}" />
  <egress-zone name="HOST" />
</policy>